body {
  margin: 0;
  font-family: 'IranSans',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "IranSans";
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/eot/IRANSansWeb.eot'),
  url('./assets/fonts/woff/IRANSansWeb.woff') format('woff'),
  url('./assets/fonts/ttf/IRANSansWeb.ttf') format('truetype'),
  url('./assets/fonts/iransans.ttf') format('truetype')
}
